.emailList {
    width: 100%;
    padding: 25px 0px;
    font-size: 20px;
    font-weight: 700;
};

.emailFormControl {
    border: 1px solid !important;
}

.brandSelection {
    font-size: 20px;
    font-weight: 700;
}

.brandSelection select{
    width: 215px;
    margin-left: 20px;
}

.selectRegExContainer{
    padding: 20px 20px;
    border: 1px solid black;
    box-shadow: 7px 7px 17px rgba(222, 222, 222, 1);
    display: flex;
    clear: both;
}

.selectRegExContainer li {
    line-height: 35px;
    font-weight: 500;
    font-size: 20px;
    padding: 0px 10px 0px 20px;
}
.scheduleContainer {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 2px;
    box-shadow: 7px 7px 10px rgba(222, 222, 222, 1);
    font-size: 25px;
    font-weight: 700;
    display: flex;
}

.scheduleContainer .alignment {
    margin-left: 70px;
}
li {
    list-style: none;
    padding: 10px 10px 10px 40px;
}
.scheduleContainer select, .scheduleContainer input {
    margin-left: 25px;
}

.summaryContainer {
    border: 1px solid black;
    box-shadow: 7px 7px 17px rgba(222, 222, 222, 1);
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 700;
    margin: 20px auto;
    width: 60%;

}

.customheader {
    background-color: rgba(255, 221, 0, 1);
    border: 1px solid;
}

.customheader .col-md-9{
    padding: 5px 5px 5px 300px ;
    text-align: center;
    font-style: italic;
    font-size: xx-large;
}

.customheader .col-md-3 img{
    padding: 5px 0px 5px 0px;
    width: 60px;
    height: 70px;
    ;
}


.brandSelection{
    padding: 25px 0px 20px 0px;
}

.boxOne {
    padding-left: 100px;
    padding-right: 0%;
}

.boxTwo {
    padding-left: 190px;
}

.scheduleMainContainer {
    margin-top: 30px;
}

.summaryHeading {
    font-size: 45px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin: 60px auto;
    padding-left: 60px;
    font-style: italic;
}
.summaryHeadingh2{
    margin: 0 auto;
    width: 15%;
    font-weight: bold;
    font-size: 40px;
}

.leftNav {
    height: -webkit-fill-available;
    background-color: rgba(46, 41, 41, 1) ;
}
.leftNav img{
    width: 40px;
    height: 40px;
    
    
}


input[type='textarea'] {
    height: 100px;
    width: 100%;
}

input[type='checkbox'] {
    height: 20px;
    width: 25px;
}

.btn{
    margin-left: 300px;
}

button {
    background-color: #fff;
    font-size: 30px;
    border: 1px solid;
    width: 160px;
    margin: 0px 30px;
    font-weight: 700;
}


.mainPage h1 {
    border: 1px solid;
    
}

.mainPage .mr-2 {
    width:400px;
    margin-left: 300px;
}

.landingPageContainer {
    margin:100px auto;
    font-size: 30px;
}

.sfcc-text{
    border: 1px solid gray;
    width: 50%;
    margin: 0 auto;
    padding: 100px 0px 100px 0px;
    text-align: justify;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: larger;
    box-shadow: 7px 7px 17px rgba(222, 222, 222, 1);

}

.landingPageBtn {
    width: 400px;
    box-shadow: 7px 7px 17px rgba(222, 222, 222, 1);
    margin: 0 auto;
    margin: 30px 0px 0px 650px;
    
}

.sfcc-text p{
    padding-left: 20px;
    font-size: 35px;
    font-style: italic;
    color:rgb(78, 76, 76);
}

.summaryButtons {
    margin: 0 auto;
    width: 46%;

}
.viewFlushScheduleButton {
    width: 400px;
}
.menu {
    height:100px;
    width: 200px;
    background-color:rgba(46, 41, 41, 1) ;
}

.openMenu{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.sideBar {
    width: auto;
    font-size: 20px;
    height: -webkit-fill-available;
    padding: 20px 10px 10px 10px;
    background-color: rgba(46, 41, 41, 1) ;

}

.sideBar img{
    height:30px;
    width: 30px;
}

.sideBar a {
    color: rgba(255, 255, 255, 1);
}

.scheduleDateAndTime {
    margin-left: 40px;
}

